<section class="row">
    <form action="../controle/apProduto.php" class="col-md-6">
        <section class="form-group">
            <label for="exampleInputEmail1">Busca de Produtos</label>
            <input type="text" class="form-control" style="text-transform:uppercase" pattern="[A-z\s\W0-9]+$" placeholder="Busca" name="busca" value="" />
            <input type="submit" value="Envia" />
        </section>
    </form>
    <article class="col-md-6">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Código Produto</th>
                    <th>Descrição Produto</th>
                    <th>Preço Unitário</th>
                    <th>Quantidade em Estoque</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN block_tabela -->
                <tr>
                    <td>{id_prod}</td>
                    <td>{desc_prod}</td>
                    <td>{imagem}</td>
                    <td>{nome}</td>
                </tr>
                <!-- END block_tabela -->
            </tbody>
        </table>
    </article>
</section>
