
<section class="ui  grid container">
    <!-- CONTEUDO DO SITE-->

    <section class="row"></section>

    <section class="column">

    </section>
    <section class="column">

    </section>
    <section class="ui segment">

        <table class="ui very basic collapsing celled table">
            <thead>
                <tr><th colspan="4">Carrinho de Compras</th></tr>
                <tr><th></th>
                    <!--<th>Descrição</th>-->
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr></thead>
            <tbody>
                <!-- BEGIN block_tabela -->

                <tr>
                    <td>
                        <h4 class="ui fluid small image ">
                            <img src="{imagem}" class="ui  rounded image">

                        </h4></td>
                    <td><div class="content">
                            {nome}
                            <div class="sub header">{descricao}
                            </div>
                        </div></td>

                    <td>
                        {preco}
                    </td>
                    <td>
                        1 
                    </td>
                </tr>
                <!-- END block_tabela -->

            </tbody>
        </table>

    </section>



    <!-- END CONTEUDO DO SITE-->


    <!-- MENU LATERAL DO SITE-->


    <section class="column"></section>
    <!--   <section class="ui segment">-->
    <table class="ui segment very basic collapsing celled table">
        <thead>
            <tr><th></th>
                <th>Valores</th>
            </tr></thead>
        <tbody>
            <tr>
                <td>
                    <h4 class="ui image header">

                        <div class="content">
                            Sub-Total

                        </div>
                        </div>
                    </h4></td>
                <td>
                    {preco}

                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ui image header">

                        <div class="content">
                            Frete

                        </div>
                        </div>
                    </h4></td>
                <td>
                    Grátis
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ui image header">

                        <div class="content">
                            Total

                        </div>
                        </div>
                    </h4></td>
                <td>
                    {preco}

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="ui image header">

                        <div class="content">
                            <a href ="../controle/pagamento.php" >
                                <button class="ui button ">Finalizar</button> </a>


                        </div>
                        </div>
                    </h4></td>

            </tr>


        </tbody>
    </table>

</section>
<section class="row espaco">

</section>



<!-- END MEIO DO SITE-->
