


<!-- MEIO DO SITE-->

<section class="ui four column doubling stackable grid container">
    <!-- CONTEUDO DO SITE-->
    

    <section class="row"></section>
    <section class=" twelve wide column ">
        <section class="ui segment">
            <!-- BEGIN block_tabela -->

            <section class="row">
                <section class="ui two column doubling stackable grid container">
                    <!--<section class="four wide column "><img class="ui small image" src="static/img/001.jpg" ></section>-->
                    <section class="four wide column "><img class="ui small image" src="{imagem}" ></section>
                    <section class="twelve wide column justified">
                        {nome}
                        <!--<p>  Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a consulta aos diversos militantes deve passar por modificações independentemente do orçamento setorial. O empenho em analisar a determinação clara de objetivos é uma das consequências das direções preferenciais no sentido do progresso. No mundo atual, a valorização de fatores subjetivos representa uma abertura para a melhoria do processo de comunicação como um todo. No entanto, não podemos esquecer que a revolução dos costumes causa impacto indireto na reavaliação do sistema de participação geral. </p>-->
                        <p> {descricao} </p>

                    </section>
                </section>
            </section>


        </section>

    </section>



    <!-- END CONTEUDO DO SITE-->


    <!-- MENU LATERAL DO SITE-->



    <section class="column">
        <section class="ui segment centered">

            <!--<div class="active title">-->

            <h1 class="title centered">  Preço</h1>
            <h3> {preco}  </h3>



            <a href="/livrariastheflash/public_html/controle/carrinho.php?id={id}" class="item">
                <button class="positive ui button">Comprar</button>
            </a>

        </section><!-- END block_tabela -->
        <!-- END MENULATERAL  DO SITE-->
    </section>
</section>
<section class="espaco"></section>
        <!-- END MEIO DO SITE-->

