
<!-- RODAPE DO SITE-->

<footer class="ui row inverted rodape" >
    <!--<section class="ui divider"></section>-->
    <section class="ui inverted segment">

        <section class="ui three column doubling stackable grid container">

            <section class="ui column">
                <nav>
                    <a href="../controle/index.php">HOME </a>
                    <a href="../controle/produto.php"> PRODUTOS</a>

                </nav>
            </section>
            <section class="ui column">

            </section>
            <section class="ui column">
                <nav>
                    <a href="../controle/produto.php"> HQ </a>
                    <a href="../controle/produto.php"> MANGA </a>
                    <a href="../controle/produto.php"> FANTASIA </a>
                    <a href="../controle/produto.php"> FICÇÃO </a>
                    <a href="../controle/produto.php"> ROMANCE </a>
                    <a href="../controle/produto.php"> DIDÁTICO </a>
                </nav>
            </section>
        </section>


        <section class="row">
            <section class="ui three column doubling stackable grid container">

                <section class="ui column">

                    FORMAS DE PAGAMENTO


                    <nav>
                        <a href="carrinhoCompras.html" class="ui medium image" >
                            <img class="banner" src="../static/img/pgto.png" > </a>

                    </nav>





                </section>
                <section class="ui column">

                </section>
                <section class="ui column">
                    CONTATO
                    <section> Av. Juscelino Kubitschek, 2041, 18° andar - São Paulo
                        contato@livrariastheflash.com</section>

                </section>
            </section>
        </section>
    </section>
</footer>

<!-- END RODAPE DO SITE-->

</body>
</html>
