<!-- MEIO DO SITE-->
<!--<section class="ui four column doubling stackable grid container">-->
<section class="ui four column doubling stackable grid container">
    <!-- CONTEUDO DO SITE-->

    <section class="row"></section>
    <section class=" twelve wide column ">
        <section class="ui segment">
            <section class="row">
                <section class="ui two column doubling stackable grid container">
                    <!-- BEGIN block_tabela -->
                    <section class="six wide column "><a href="../controle/noticia.php?id={id}"><img class="banner-notica" src="{imagem}"></a></section>
                    <!-- END block_tabela -->

                    <!-- BEGIN block_tabela2 -->

                    <section class="ten wide column"><a href="../controle/noticia.php?id={id}"><img class="banner-notica" src="{imagem}"></a></section>
                    <!-- END block_tabela2 -->

                </section>
            </section>
            <section class="row">
                <section class="ui two column doubling stackable grid container">
                    <!-- BEGIN block_tabela3 -->
                    <section class="ten wide column"><a href="../controle/noticia.php?id={id}"><img class="banner-notica" src="{imagem}"></a></section>
                    <!-- END block_tabela3 -->
                    <!-- BEGIN block_tabela4 -->
                    <section class="six wide column "><a href="../controle/noticia.php?id={id}"><img class="banner-notica" src="{imagem}"></a></section>
                    <!-- END block_tabela4 -->

                </section>
            </section>
        </section>
    </section>

    <!-- END CONTEUDO DO SITE-->
