
<section class="row espaco">

</section>

<section class="ui one column doubling grid container"> 
    <div class="ten wide column centered">
        <h1> CADASTRO DO PRODUTO  </h1>
        <form class="ui form"  action="../controle/insProduto.php" method="POST">
            <h4 class="ui dividing header">Preencha os campos abaixo</h4>

            <div class="field">

                <div class="two fields">
                    <div class="field">
                        <label>Produto</label>
                        <input type="text" name="nome_prod" placeholder="Nome do Produto">
                    </div>
                    <div class="field">
                        <label>Autor</label>
                        <input type="text" name="autor_prod" placeholder="Autor(es)">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Edição</label>

                        <input type="text" name="edicao" placeholder="Número da Edição">
                    </div>
                    <div class="field">
                        <label>Preço</label>
                        <input type="text" name="preco" placeholder="Valor do Produto">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Tags</label>
                <div class="two fields">
                    <div class="field">
                        <!--<input type="text" name="editora" placeholder="Editora">-->
                        <select name="editora">
                            <option value="DC">DC</option>
                            <option value="Dark_Horse">Dark Horse</option>
                            <option value="Marvel">Marvel</option>
                            <option value="Draco">Draco</option>
                            <option value="Rocco">Rocco</option>
                            <option value="Saraiva">Saraiva</option>

                        </select>
                    </div>
                    <div class="field">
                        <!--<input type="text" name="categoria" placeholder="Categoria">-->
                        <select name="categoria">
                            <option value="HQ">HQ</option>
                            <option value="Mangá">Mangá</option>
                            <option value="Ficção">Ficção</option>
                            <option value="Fantasia">Fantasia</option>
                            <option value="Ficção">Ficção</option>
                            <option value="Romance">Romance</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Imagens</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="imagem" placeholder="Imagem Capa">
                    </div>
                    <div class="field">
                        <input type="text" name="imagem2" placeholder="Imagem Secundária">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Descrição</label>
                <div class="field">

                    <textarea name="desc_prod" placeholder="Descrição">
                    </textarea>


                </div>
            </div>


            <div class="fields">
                <div class="eight wide field">
                    <input type="submit" class="fluid ui button positive fluid" value="CADASTRAR"> </input>
                </div>

                <div class="eight wide field">
                    <button class="fluid ui button negative button fluid">CANCELAR</button>
                </div>
            </div>
        </form>
    </div>


</section>
<section class="row espaco">       
</section>


