
<section class="row espaco">

</section>

<section class="ui one column doubling grid container"> 
    <div class="ten wide column centered">
        <h1> CADASTRE-SE  </h1>
        <form class="ui form" name="envia_produto" action="../controle/insUsuario.php" method="POST">
            <h4 class="ui dividing header">Preencha os campos abaixo</h4>

            <div class="field">

                <div class="two fields">
                    <div class="field">
                        <label>Nome</label>
                        <input type="text" name="nome" placeholder="Nome">
                    </div>
                    <div class="field">
                        <label>Sobrenome</label>
                        <input type="text" name="sobrenome" placeholder="Sobrenome">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Cpf</label>
                        <input type="text" name="cpf" placeholder="000.000.000-00">
                    </div>
                    <div class="field">
                        <label>Data Nascimento</label>
                        <input type="text" name="dt_nasc" placeholder="00/00/0000">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Login</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="email" placeholder="E-mail">
                    </div>


                    <div class="field">
                        <input type="password" name="senha" placeholder="Senha">
                    </div>
                </div>
            </div>





            <div class="fields">
                <div class="eight wide field">
                    <button class="fluid ui button positive fluid"> CADASTAR</button>
                </div>

                <div class="eight wide field">
                    <a href ="../controle/" >
                        <button class="fluid ui button negative button fluid">CANCELAR</button></a> 
                </div>
            </div>
        </form>
    </div>


</section>
<section class="row espaco">       
</section>


