
<section class="row espaco">

</section>

<section class="ui one column doubling grid container"> 
    <div class="ten wide column centered">
        <h1> CADASTRO DE NOTÍCIA  </h1>
        <form class="ui form" name="envia_produto" action="../controle/insNoticia.php" method="POST">
            <h4 class="ui dividing header">Preencha os campos abaixo</h4>

            <div class="field">

                <div class="two fields">
                    <div class="field">
                        <label>Titulo</label>
                        <input type="text" name="titulo" placeholder="Título da Notícia">
                    </div>
                    <div class="field">
                        <label>Autor da Notícia</label>
                        <input type="text" name="autor" placeholder="Autor(es)">
                    </div>
                </div>  
            </div>



            <div class="field">
                <label>Imagem</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="imagem" placeholder="Imagem Capa">
                    </div>

                </div>
            </div>

            <div class="field">
                <label>Descrição</label>
                <div class="field">

                    <textarea name="decricao" placeholder="Descrição">
                    </textarea>


                </div>
            </div>


            <div class="fields">
                <div class="eight wide field">
                    <button class="fluid ui button positive fluid"> CADASTAR</button>
                </div>

                <div class="eight wide field">
                    <button class="fluid ui button negative button fluid">CANCELAR</button>
                </div>
            </div>
        </form>
    </div>


</section>
<section class="row espaco">       
</section>


