<section class="espaco"></section>
<section class="ui one column doubling grid container">
    <div class="five wide column centered">
        <h2 class="ui teal image header">
            <div class="content">
                Login
            </div>
        </h2>
        <form class="ui large form" action="../controle/login.php" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">

                    </div>
                </div>

                <button class="ui fluid large teal submit button" type="submit">Entrar</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Não possui cadastro? <a href="../controle/insUsuario.php">Clique Aqui</a>
        </div>

    </div>
</section>
<section class="row espaco">

</section>

