<!--<section class="ui four column doubling stackable grid container">-->
    <!--&lt;!&ndash; CONTEUDO DO SITE&ndash;&gt;-->

    <!--<section class="row"></section>-->
    <!--<section class='ui message positive'> Operação efetuada com sucesso!</section>-->

<!--</section>-->
<!--<section class="ui four column doubling stackable grid container">-->
<META HTTP-EQUIV="REFRESH" CONTENT="3; URL=insUsuario.php">
<section class="ui four column doubling stackable grid container">
    <!-- CONTEUDO DO SITE-->

    <section class="row"></section>
    <section class=" twelve wide column ">
        <section class="ui segment">
            <section class="row">
                <section class='ui message negative'> Operação não efetuada!</section>
            </section>
        </section>
    </section>

    <!-- END CONTEUDO DO SITE-->