
<META HTTP-EQUIV="REFRESH" CONTENT="3; URL=index.php">
<section class="ui four column doubling stackable grid container">
    <!-- CONTEUDO DO SITE-->

    <section class="row"></section>
    <section class=" twelve wide column ">
        <section class="ui segment">
            <section class="row">
                <section class='ui message positive'> Operação efetuada com sucesso!</section>
            </section>
        </section>
    </section>

    <!-- END CONTEUDO DO SITE-->