
<!-- MENU -->
<section class="ui attached stackable menu">
    <section class="ui container">
        <a href="../controle/index.php" class="item">
            <i class="home icon"></i> Home
        </a>

        <a href="../controle/produto.php" class="item">
            <i class="book layout icon"></i> Produtos
        </a>
        
        <a href="../controle/noticia.php" class="item">
            <i class="book layout icon"></i> Notícias
        </a>
        
        <a href="../controle/insProduto.php" class="item">
            <i class="book layout icon"></i> Insere Produto
        </a>
        
        <a href="../controle/insNoticia.php" class="item">
            <i class="book layout icon"></i> Insere Notícia
        </a>

        <section class="right item">
            <form action="../controle/produto.php" method="POST">
                <a class="ui input"><input type="text" name="busca" placeholder="Search..."></a></form>
        </section>
        <a href="../controle/logout.php" class="item">
            <i class="sign in icon"></i> Logout
        </a>
        <a href="../controle/carrinho.php" class="item">
            <i class="shop  icon"></i>
        </a>

    </section>
</section>
<!-- END MENU -->
