<!-- MENU LATERAL DO SITE-->

<section class="column">

    <ul class="ui styled accordion">

        <li class="title inverted">

            Categorias
        </li> 
        <li class="title">
            <a href = '../controle/produto.php?categoria=HQ'> <i class="dropdown icon"></i>
                HQ</a>
        </li>
        <li class="title"> <a href = '../controle/produto.php?categoria=Mangá'>
                <i class="dropdown icon"></i>
                Mangá</a>
        </li>
        <li class="title">
            <a href= '../controle/produto.php?categoria=Fantasia'> <i class="dropdown icon"></i>
                Fantasia</a>
        </li>

        <li class="title">
            <a href='../controle/produto.php?categoria=Ficção'><i class="dropdown icon"></i>
                Ficção</a>
        </li>
        <li class="title">
            <a href='../controle/produto.php?categoria=Romance'><i class="dropdown icon"></i>
                Romance</a>
        </li>
        <li class="title">
            <a href='../controle/produto.php?categoria=Didático'> <i class="dropdown icon"></i>
                Didático </a>
        </li>
    </ul>
</section>
<!-- END MENULATERAL  DO SITE-->
</section>
<section class="espaco"></section>