
      
     
        <section class="ui four column doubling stackable grid container">
            <!-- CONTEUDO DO SITE-->

            <section class="row"></section>

            <section class=" twelve wide column ">
                <section class="ui segment">
                    <!-- BEGIN block_tabela -->
                    <h1> {titulo} </h1>
                      <p class="ui right">Autor : {autor}</p>

                    <section class="row">
                        <section class="ui two column doubling stackable grid container">

                            <section class="four wide column "><img class="ui small image" src="{imagem}" ></section>
                            <section class="twelve wide column justified">
                                <p> {descricao}  </p>

                            </section>
                            
                        </section>
                    </section>
                    <!-- END block_tabela -->


                </section>
            </section>

            <!-- END CONTEUDO DO SITE-->
