


<link rel="stylesheet" type="text/css" href="../static/ResponsiveCarousel/style.css">


<link rel="stylesheet" type="text/css" href="../static/ResponsiveCarousel/jcarousel.css">

<script type="text/javascript" src="../static/ResponsiveCarousel/jquery.js"></script>
<script type="text/javascript" src="../static/ResponsiveCarousel/jquery_002.js"></script>

<script type="text/javascript" src="../static/ResponsiveCarousel/jcarousel.js"></script>


<!-- MEIO DO SITE-->

<section class="ui four column doubling stackable grid container">
    <!-- CONTEUDO DO SITE-->

    <section class="row"></section>
    <section class=" twelve wide column ">
        <section class="ui segment">
            <section class="row">
                <div class="wrapper">

                    <div class="jcarousel-wrapper">
                        <div class="jcarousel" data-jcarousel="true">
                            <ul style="left: 0px; top: 0px;">

                                <li > <a href = '../controle/produto.php?editora=Dark_Horse'><img src="../static/ResponsiveCarousel/001dh.jpg" alt="Image 1"> </a>  </li>
                                <li > <a href = '../controle/produto.php?editora=Marvel'><img src="../static/ResponsiveCarousel/002marvel.png" alt="Image 2"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Saraiva'><img src="../static/ResponsiveCarousel/006saraiva.jpg" alt="Image 2"> </a> </li>

                                <li > <a href = '../controle/produto.php?editora=Draco'><img src="../static/ResponsiveCarousel/004draco.jpg" alt="Image 4"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Rocco'><img src="../static/ResponsiveCarousel/005rocco.jpg" alt="Image 1"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=DC'><img src="../static/ResponsiveCarousel/003dc.jpg" alt="Image 3"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Dark_Horse'><img src="../static/ResponsiveCarousel/001dh.jpg" alt="Image 1"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Marvel'><img src="../static/ResponsiveCarousel/002marvel.png" alt="Image 2"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Saraiva'><img src="../static/ResponsiveCarousel/006saraiva.jpg" alt="Image 2"> </a> </li>

                                <li > <a href = '../controle/produto.php?editora=Draco'><img src="../static/ResponsiveCarousel/004draco.jpg" alt="Image 4"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=Rocco'><img src="../static/ResponsiveCarousel/005rocco.jpg" alt="Image 1"> </a> </li>
                                <li > <a href = '../controle/produto.php?editora=DC'><img src="../static/ResponsiveCarousel/003dc.jpg" alt="Image 3"> </a> </li>



                            </ul>
                        </div>

                        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>


                    </div>
                </div>



            </section>
            <section class="row">

                <section class="ui  column doubling stackable grid container">


                    <section class="ui four stackable cards ">


                        <!-- BEGIN block_tabela -->

                        <section class="ui   card">
                            <section class="ui slide masked reveal image">

                                <img src="{imagem}" class="visible content">

                                <img src="{imagem2}" class="hidden content">
                            </section>
                            <section class="content">

                                <a href = "../controle/produto.php?id={id}" class="header">{nome} {edicao}</a>
                                <section class="meta">

                                    <span class="date">{autor}</span>
                                </section>
                            </section>
                            <section class="extra content">
                                <a>
                                    {preco}

                                </a>
                            </section>
                        </section>

                        <!-- END block_tabela -->

                    </section>
                    <section class="row espaco">

                    </section>
                </section>
            </section>
        </section>
        <section class="row espaco">

        </section>
    </section>

    <!-- END CONTEUDO DO SITE-->
