<!-- REDES SOCIAIS DO SITE-->
<section class="row">

    <section class="ui segment">


        <section class="ui three column doubling stackable grid container">

            <section class="ui column ">
                <a href="http://google.com" >
                    <img class=" ui centered  tiny image " src="../static/img/whats2.ico">
                </a>
            </section>
            <section class="ui column">
                <a href="http://facebook.com">
                    <img class=" ui centered  tiny image " src="../static/img/facebook.png">
                </a>
            </section>
            <section class="ui column">
                <a href="http://twiter.com">
                    <img  class=" ui centered  tiny image " src="../static/img/twitter.png">
                </a>
            </section>
        </section>

    </section>
</section>
<!-- END REDES SOCIAS DO SITE-->
