.banner{
    height: auto;
  
width: 100%;

}
.banner-notica{
    height: 100%;
width: 100%;

}
ul{
    list-style-type: none;
  margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
    
}
li{
    margin: 0px;
    padding: 0px;
}
.img-redessociais{
    height: 25%;
    width: 25%;
    text-align: center;
    
}
.espaco {
    margin-top: 3%;
}